.hidden{
  visibility:hidden;
}

.toma{
  float: left;
}

.parent{
  display: flex;
  justify-content: center;
}

.btn {
  background: #d934d9;
  background-image: -webkit-linear-gradient(top, #d934d9, #342bb8);
  background-image: -moz-linear-gradient(top, #d934d9, #342bb8);
  background-image: -ms-linear-gradient(top, #d934d9, #342bb8);
  background-image: -o-linear-gradient(top, #d934d9, #342bb8);
  background-image: linear-gradient(to bottom, #d934d9, #342bb8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
